* {
  margin: 0;
  padding: 0;
}

button {
  background: dodgerblue;
  color: white;
  padding: 8px 16px;
  border-radius: 15px;
  border: darkblue;
  outline: none;
  cursor: pointer;
  &:hover, &:active {
    background-color: darkblue;
    outline: none;
  }
}